@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/stasiun');

// FONT FAMILIES
$font-family-base: 'Open Sans', sans-serif;
$font-title: 'Stasiun', sans-serif;

// COLORS

$steel-gray: #ced2d7;
